/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}
.scores{
    text-align: center;
    font-size: 2rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

#game-area {
    text-align: center;
    background-color: #E6ECF0;
    border: 3px solid;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.choiceBtn{
    line-height: 30px;
    width: 120px;
    padding: 5px;
    margin: 10px;
    font: solid ;
  }
  .restartBtn{
    line-height: 30px;
    width: 120px;
    padding: 5px;
    margin: 10px;
    font: solid ;
  }
  
  #playerText{
    color: blue;
  }
  #computerText{
    color: red;
  }